:root {
	--white: #FFFFFF;
	--special-white: rgb(226, 226, 226);
	--black: hsl(0, 4%, 25%);
	--blue: #51B6F4;
	--blue-secondary: #0798F2;
	--blue-tres: #034873;
	--white-blue: #ecf9f5;
	--orange: rgb(246,90,55);
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}