@import "vars";

.contact-main-div {
    width: 100%;
    height: 55%;
}

.p-github {
    font-size: var(--lg);
    padding: 40px 0;
    font-weight: 400;
    color: gray;
    text-align: center;
    margin: auto;
    border-bottom: 1px solid lightgray;
  }

  .a-github {
    color: var(--blue-secondary);
  }
  

.footer-img {
    width: 100%;
    height: 40%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='auto' height='350' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1449%26quot%3b)' fill='none'%3e%3cpath d='M1560 250L0 250 L0 125.74Q44.94 98.68%2c 72 143.62Q140.93 92.55%2c 192 161.47Q211.59 109.06%2c 264 128.66Q306.43 99.09%2c 336 141.52Q382.07 115.59%2c 408 161.67Q452.82 86.49%2c 528 131.3Q571.96 103.26%2c 600 147.23Q643.22 118.45%2c 672 161.67Q690.36 108.03%2c 744 126.39Q790.78 101.18%2c 816 147.96Q886 97.96%2c 936 167.96Q977.27 89.23%2c 1056 130.5Q1100.63 103.13%2c 1128 147.76Q1195.33 95.09%2c 1248 162.42Q1293.32 87.74%2c 1368 133.05Q1412.93 105.98%2c 1440 150.91Q1507.91 98.82%2c 1560 166.73z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1488 250L0 250 L0 164.13Q34.75 126.88%2c 72 161.62Q121.62 139.24%2c 144 188.85Q173.13 145.97%2c 216 175.1Q268.73 107.83%2c 336 160.56Q390.96 143.52%2c 408 198.48Q454.56 125.05%2c 528 171.61Q570.99 142.6%2c 600 185.58Q622.96 136.54%2c 672 159.49Q715.92 131.41%2c 744 175.33Q809.52 120.86%2c 864 186.38Q930.33 132.71%2c 984 199.04Q1005.46 148.5%2c 1056 169.96Q1122.03 115.99%2c 1176 182.01Q1244.79 130.8%2c 1296 199.59Q1339.93 123.53%2c 1416 167.46Q1461.96 141.43%2c 1488 187.39z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1536 250L0 250 L0 220.19Q57.43 157.63%2c 120 215.06Q166.51 141.57%2c 240 188.08Q308.09 136.17%2c 360 204.26Q431.43 155.69%2c 480 227.12Q496.25 171.38%2c 552 187.63Q596.61 160.24%2c 624 204.84Q669.85 178.69%2c 696 224.53Q716.81 173.34%2c 768 194.16Q837.27 143.44%2c 888 212.71Q931.02 183.74%2c 960 226.76Q980.63 175.39%2c 1032 196.02Q1097.45 141.47%2c 1152 206.92Q1198.57 181.49%2c 1224 228.05Q1265.16 149.21%2c 1344 190.37Q1387.8 162.17%2c 1416 205.96Q1481.13 151.09%2c 1536 216.23z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1536 250L0 250 L0 245.41Q48.46 173.87%2c 120 222.32Q197.99 180.31%2c 240 258.3Q294.75 193.06%2c 360 247.81Q388.69 204.5%2c 432 233.2Q506.25 187.44%2c 552 261.69Q568.1 205.79%2c 624 221.89Q670.19 196.08%2c 696 242.28Q739.9 214.18%2c 768 258.08Q812.1 182.18%2c 888 226.28Q931.96 198.24%2c 960 242.19Q1028.35 190.54%2c 1080 258.89Q1102 208.89%2c 1152 230.89Q1194.23 201.13%2c 1224 243.36Q1293.24 192.61%2c 1344 261.85Q1360.81 206.66%2c 1416 223.46Q1483.21 170.68%2c 1536 237.89z' fill='rgba(29%2c 149%2c 241%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1449'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
    .p-github {
        font-size: var(--md);
        padding: 20px 0;
      }
}