@import "vars";

.main-form {
    max-width: 80%;
    min-height: auto;
    margin: auto;
    margin-top: 4rem;
}

.form-title {
    color: var(--black);
    text-align: center;
}

.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
    max-width: 55%;
}

.form-names {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.label {
    font-size: var(--sm);
    color: gray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.form-names-name, .form-names-email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10px;
    width: 100%;
}

.input-name, .input-email {
    width: 100%;
    border: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: var(--lg);
    padding: 8px 10px;
    transition: .3s;
    color: var(--black);
}

.input-name:focus, .input-email:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgba(7,152,242,0.5);
-webkit-box-shadow: 0px 0px 0px 2px rgba(7,152,242,0.5);
-moz-box-shadow: 0px 0px 0px 2px rgba(7,152,242,0.5);
}

.form-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    padding: 0 10px;
    width: 100%;
}

.form-msg-input {
    width: 100%;
    border: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: var(--lg);
    padding: 8px 10px;
    transition: .3s;
    color: var(--black);
    height: 120px;
    resize: none;
}

.form-msg-input:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgba(7,152,242,0.5);
-webkit-box-shadow: 0px 0px 0px 2px rgba(7,152,242,0.5);
-moz-box-shadow: 0px 0px 0px 2px rgba(7,152,242,0.5);
}

.btn-send {
    border: none;
    background: none;
    background-color: var(--blue-tres);
    color: var(--special-white);
    font-weight: 500;
    font-size: var(--lg);
    padding: 15px 30px;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-send:hover {
    background-color: #07314b;
}

@media only screen and (max-width: 1100px) {
    .form-contact {
        max-width: 75%;
    }
}

@media only screen and (max-width: 760px) {
    .form-contact {
        margin-top: 2rem;
        max-width: 80%;
    }
    .form-names {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .form-names-name, .form-names-email {
        margin: 8px 0;
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .main-form {
        max-width: 100%;
        margin-top: 2rem;
    }
    .form-title {
        font-size: var(--lg);
    }
    .form-contact {
        margin-top: 1rem;
        max-width: 85%;
    }
    .form-names-name, .form-names-email {
        margin: 5px 0;
    } 
    .input-name, .input-email {
        font-size: var(--lg);
        padding: 5px 8px;
    }
    .form-msg-input {
        height: 80px;
    }
    .btn-send {
        font-size: var(--md);
        padding: 12px 22px;
        margin-top: 20px;
    }
}
