@import "vars";

.main-form {
    width: 60%;
    min-height: auto;
    margin: auto;
    background-color: var(--light-black);
    border: 1px solid rgba(211, 211, 211, 0.315);
    border-radius: 5px;
    padding: 25px 20px;
    animation: aparicion 1s ease .3s 1 normal forwards;
    opacity: 0;
}

.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.label {
    font-size: var(--sm);
    color: var(--white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.form-names-name, .form-names-email, .form-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.input-name, .input-email  {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: var(--lg);
    padding: 10px 12px;
    transition: .3s;
    color: lightgray;
    border: 1px solid rgba(211, 211, 211, 0.315);
    background-color: var(--black);
}

.input-name, .input-email, .form-msg-input {
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.input-name:focus, .input-email:focus, .form-msg-input:focus {
    outline: none;
    border: 1px solid #14FFEC;
}

.form-msg-input {
    width: 100%;
    border: none;
    border: 1px solid rgba(211, 211, 211, 0.315);
    border-radius: 5px;
    font-size: var(--lg);
    padding: 8px 10px;
    transition: .3s;
    color: lightgray;
    height: 200px;
    resize: none;
    outline: none;
    background-color: var(--black);
}

.btn-send {
    border: none;
    background: none;
    background-color: var(--high-blue);
    color: var(--light-black);
    font-weight: 600;
    padding: 14px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
    font-size: var(--sm);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-send:hover {
    background-color: var(--white);
}

@media only screen and (max-width: 1023px) {
    .main-form {
        width: 90%;
    }
}

@media only screen and (max-width: 460px) {
    .main-form {
        width: 100%;
    }
}

@keyframes aparicion {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}