@import "vars";

.home-div-main {
  width: calc(100% - 90px);
  min-height: 100vh;
  margin-left: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393939;
  background-color: #393939;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23615D46' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2360582B'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");}


.home-content {
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 80px;
}

.img-me {
    width: 160px;
    border-radius: 50%;
    background-color: var(--light-yellow);
    padding: 3px;
    margin-bottom: 20px;
    animation: aparicion 1s ease 0s 1 normal forwards;
    opacity: 0;
}


.h1-home {
    color: var(--white);
    font-size: 46px;
    animation: aparicion 1s ease .2s 1 normal forwards;
    opacity: 0;
}

.span-home {
    color: var(--high-yellow);
  }
  
  .p-home {
    color: var(--light-yellow);
    font-size: var(--lg);
    margin-top: 20px;
    font-weight: 600;
    animation: aparicion 1s ease .4s 1 normal forwards;
    opacity: 0;
}

.icons-home {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    animation: aparicion 1s ease .8s 1 normal forwards;
    opacity: 0;
}

.icon-home {
    width: 40px;
    height: 40px;
    color: var(--light-yellow);
    background-color: var(--black);
    border: 1px solid var(--light-yellow);
    padding: 10px;
    margin: 0 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.icon-home:hover {
    color: var(--black);
    background-color: var(--light-yellow);
}

@media only screen and (max-width: 1023px) {
  .home-div-main {
    width: 100%;
    margin-left: 0;
  }
  .home-content {
    padding: 0 40px;
  }
  .h1-home {
    font-size: 36px;
  }
  .p-home {
    font-size: var(--md);
  }
}

@media only screen and (max-width: 500px) {
  .home-content {
    padding: 0 10px;
  }
}

@keyframes aparicion {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}