.item-slider {
    max-width: 100%;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 50px;
    height: auto;
    padding: 3% 20%;
    color: var(--black);
    border-bottom: 1px solid lightgray;
    
}

.item-span-slider {
    font-weight: 700;
}