@import "vars";

.main-modal-port {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #c5c3c33b;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 20;
    transition: .5s;
}

.modal-port-container {
    width: 70%;
    height: 70%;
    background-image: linear-gradient(rgba(115, 115, 115, 0.06) 1px, transparent 1px), linear-gradient(to right, rgba(115, 115, 115, 0.06) 1px, transparent 1px);
    background-size: 31px 31px;
    background-color: #212121;
    border-radius: 5px;
    box-shadow: 0 0px 30px -5px var(--light-black);
    animation: entrance .5s ease 0s 1 normal forwards;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-port {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.port-image-div {
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    animation: entrance-image .5s ease-in 0s 1 normal backwards;
}

.port-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 0 0px 10px -5px var(--light-black);
}

.port-text {
    width: 40%;
    height: 100%;
    text-align: left;
    padding: 0 3%;
}

.modal-item-h1 {
    margin-bottom: 10px;
    color: var(--white);
    font-weight: 400;
}

.modal-item-h3 {
    margin-bottom: 20px;
    font-weight: 300;
    color: var(--high-blue);
}

.modal-item-p {
    color: lightgray;
    font-size: 22px;
    font-weight: 100;
}

.modal-item-btn {
    border: none;
    background: none;
    margin-top: 30px;
    font-size: var(--md);
    color: var(--black);
    background-color: var(--high-blue);
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.modal-item-btn a {
    text-decoration: none;
}

.modal-item-btn a:visited {
    color: var(--black);
}

.modal-item-btn:hover {
    background-color: var(--white);
}

.modal-item-closeBtn {
    border: none;
    background: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--high-blue);
    border-top-left-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.closeBtn-icon {
    width: 25px;
    height: 25px;
    color: var(--special-white);
}
 
.close-modal-port {
    opacity: 0;
}

@keyframes entrance {
	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}

@keyframes entrance-image {
	0% {
        opacity: 0;
		transform: scale(0.5);
	}

	100% {
        opacity: 1;
		transform: scale(1);
	}
}

@media only screen and (max-width: 1230px) {

    .modal-item-h1 {
        margin-bottom: 2px;
    }
    
    .modal-item-h3 {
        margin-bottom: 10px;
    }
    
    .modal-item-p {
        font-size: 18px;
    }
    .modal-item-btn {
        margin-top: 30px;
        font-size: var(--sm);
        padding: 8px 15px;
        border-radius: 5px;
    }
    
}

@media only screen and (max-width: 990px) {
    .modal-port-container {
        width: 85%;
        height: auto;
        padding: 20px;
    }
    .modal-port {
        flex-direction: column;
    }
    .port-image-div {
        max-width: 100%;
        height: 100%;
    }
    .port-text {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .modal-item-h1 {
        margin-bottom: 2px;
        font-size: var(--lg);
    }
    
    .modal-item-h3 {
        margin-bottom: 10px;
        font-size: var(--md);
    }
    
    .modal-item-p {
        font-size: var(--sm);
    }
    .modal-item-btn {
        margin-top: 20px;
        font-size: var(--sm);
        padding: 5px 10px;
        border-radius: 5px;
    }
    
}
