@import "vars";

.main-modal-port {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(4, 46, 94, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 20;
    transition: .5s;
}

.modal-port {
    width: 70%;
    height: 58%;
    background-color: white;
    animation: myAnim .5s ease 0s 1 normal forwards;
}

.close-modal-port {
    opacity: 0;
}

@keyframes myAnim {
	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}
