@import 'vars';

.moreInfo-main {
    width: 100%;
    // border-top: 1px solid lightgrey;
}

.moreInfo-one, .moreInfo-two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: auto;
    // border-bottom: 1px solid lightgrey;
    margin-top: -100px;
    
}

.moreInfo-two {
    border: none;
}

.one-image, .two-image {
    width: 650px;
}

.one-texts, .two-texts {
    text-align: left;
    margin-top: 70px;
}

.one-h2, .two-h2 {
    color: var(--blue-secondary);
}

.one-p, .two-p {
    font-size: var(--lg);
    color: gray;
    margin-top: 20px;
}

.btn-learn-more {
    border: none;
    background: none;
    border: 1px solid var(--blue-secondary);
    padding: 15px 30px;
    border-radius: 30px;
    margin-top: 20px;
    font-size: var(--lg);
    color: var(--blue-secondary);
    cursor: pointer;
    text-align: center;
    transition: .2s;
}

.btn-learn-more:hover {
    color: var(--white);
    background-color: var(--blue-secondary);
}

.two-image {
    order: 2;
}

.two-texts {
    order: 1;
    text-align: right;
}

@media only screen and (max-width: 1235px) {
    .moreInfo-one, .moreInfo-two {
        flex-direction: column;
        width: 100%;
    }
    .one-texts, .two-texts {
        text-align: center;
        max-width: 500px;
        padding: 0 20px;
        margin-bottom: 60px;
        margin-top: 0;
    }
    .two-image {
        order: 1;
    }
    
    .two-texts {
        order: 2;
    }
}

@media only screen and (max-width: 550px) {
    .one-h2, .two-h2 {
        font-size: var(--lg);
        margin-bottom: 10px;
    }
    
    .one-p, .two-p{
        font-size: var(--sm);
        padding: 0 10px;
    }
    .btn-learn-more {
        padding: 10px 20px;
        border-radius: 30px;
        margin-top: 20px;
        font-size: var(--sm);
    }
}

