@import 'vars';

.nav-main {
    width: 90px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--black);
    border-right: 1px solid gray;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    padding-bottom: 100px;
}

.link-nav-home:visited {
    color: var(--white)
}

.icon-nav {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.h4-nav {
    transform: rotate(-90deg);
    width: 170px;
    margin-left: -7px;
}

.span-nav {
    color: var(--high-blue);
}

.nav-mobile {
    display: none;
    position: fixed;
    width: 35px;
    height: 35px;
    left: 0;
    top: 50vh;
    color: var(--black);
    background-color:#0d7477a1;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 100;
}

@media only screen and (max-width: 1023px) {
    .nav-main {
        display: none;
    }
    .nav-mobile {
        display: flex;
    }
}