@import 'vars';

.nav-main {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transition: .5s;
    background: transparent;
}

.visible {
    height: 60px;
    box-shadow: 0 -18px 20px 10px var(--blue-tres);
    background: rgb(74,180,223);
background: -moz-linear-gradient(329deg, rgba(74,180,223,1) 14%, rgb(53, 127, 224) 90%);
background: -webkit-linear-gradient(329deg, rgba(74,180,223,1) 14%, rgb(53, 127, 224) 90%);
background: linear-gradient(329deg, rgba(74,180,223,1) 14%, rgb(53, 127, 224) 90%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4ab4df",endColorstr="#ecf9f5",GradientType=1);
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.name-title {
    display: flex;
    align-items: center;
    color: var(--special-white);

}

.title-icon {
    width: 30px;
    height: 30px;
}

.nav-menu-icon {
    display: none;
}

.title-h3 {
    cursor: pointer;
    margin-bottom: 4px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    width: 370px;
    align-items: center;
    justify-content: space-around;
}

.nav-links ul li {
    font-weight: 600;
    color: var(--special-white);
    cursor: pointer;
    transition: .2s;
}

.title-h3:hover {
    text-decoration: underline;
}

.nav-links ul li:hover {
    color: var(--blue-tres);
}

@media only screen and (max-width: 990px) {
    .nav {
        justify-content: space-between;
        padding: 0 25px;
    }
    .nav-links {
        display: none;
    }
    .nav-menu-icon {
        display: flex;
        width: 35px;
        color: var(--special-white);
        height: 35px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 400px) {
    .nav-main {
        height: 70px;
    }
    .nav {
        padding: 0 20px;
    }
    .visible {
        height: 50px;
    }
}