@import 'vars';

.main-nav-menu {
    width: calc(100% - 90px);
    height: 100vh;
    position: fixed;
    background-color: #2b2a2a;
    right: 0;
    z-index: 10;
    bottom: -100vh;
    transition: .3s ease-in;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.visible-menu {
    bottom: 0;
}

@media only screen and (max-width: 1023px) {
    .main-nav-menu {
        display: none;
    }
}

