@import 'vars';

.option-main {
    height: 300px;
    display: flex;
    padding: 0px 21px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.option-imagen {
    height: 110px;
    margin-bottom: 10px;
}

.option-title {
    font-size: var(--lg);
    margin-bottom: 18px;
    font-weight: 500;
    color: var(--blue-secondary);
}

.option-text {
    text-align: center;
    color: var(--blue-tres);
    font-size: var(--lg);
    padding: 0 25px;
    font-weight: 400;
}

@media only screen and (max-width: 1024px) {
    .option-main {
        padding: 0;
    }
    .option-text {  
        padding: 0 10px;
    }
}