@import "vars";

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 350px;
  height: auto;
  margin: 10px;
  margin-bottom: 30px;
  text-align: center;
  animation: aparicionDos 1s ease 0s 1 normal forwards;
}

.image-item {
  cursor: pointer;
  transition: .3s;
  max-width: auto;
  padding: 0 10px;
}

.image-item:hover {
  transform: scale(1.05);
  rotate: 3deg;
}

.item-h1 {
  margin-top: 20px;
  color: var(--high-blue);
  border-radius: 10px;
  font-size: var(--lg);
}

.item-text {
  font-size: var(--md);
  color: lightgray;
  font-weight: 600;
}

@media only screen and (max-width: 915px) {
  .card-item {
    margin: 0;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 695px) {
  .card-item {
    margin-bottom: 20%;
  }
}

@keyframes aparicionDos {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}