@import 'vars';

.portada-main {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    z-index: 10;
}

.portada-title {
    font-size: 60px;
    color: var(--special-white);
}

.portada-h2 {
    font-size: 38px;
    background-color: var(--special-white);
    margin: 0 auto;
    color: var(--blue-secondary);
    margin-top: -5px;
    max-width: 470px;
    padding: 0 5px;
    
}

.portada-p {
    margin-top: 30px;
    font-size: var(--lg);
    color: var(--special-white);
    font-weight: 600;
}

.portada-btn {
    background: none;
    border: none;
    background-color: var(--special-white);
    margin: 0 auto;
    margin-top: 42px;
    width: 60px;
    height: 60px;
    color: var(--blue-secondary);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--special-white);
    transition: .3s;
}

.portada-btn-icon {
    width: 40px;
    height: 40px;
}

.portada-btn:hover {
    background-color: var(--blue-secondary);
    color: var(--special-white);
    border: 2px solid var(--special-white);
    transform: scale(1.1);
}

@media only screen and (max-width: 1000px) {
    .portada-main {
        padding: 0 15px;
        padding-top: 40px;
    }
    .portada-title {
        font-size: 45px;
    }
    .portada-h2 {
        font-size: 28px;
    }
    .portada-p {
        margin-top: 30px;
        font-size: var(--md);
    }
}

@media only screen and (max-width: 400px) {
    .portada-main {
        padding: 0 20px;
        padding-top: 50px;
    }
    .portada-title {
        font-size: 35px;
    }
    .portada-h2 {
        font-size: 18px;
    }
    .portada-p {
        margin-top: 30px;
    }
    .portada-btn {
        margin-top: 42px;
        width: 45px;
        height: 45px;
    }
    .portada-btn-icon {
        width: 30px;
        height: 30px;
    }    
}