@import "vars";

.portfolio-main {
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: -moz-linear-gradient(329deg, rgba(74,180,223,1) 14%, rgb(53, 127, 224) 90%);
background: -webkit-linear-gradient(329deg, rgba(74,180,223,1) 14%, rgb(53, 127, 224) 90%);
background: linear-gradient(329deg, rgba(74,180,223,1) 14%, rgb(53, 127, 224) 90%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4ab4df",endColorstr="#ecf9f5",GradientType=1);
}


.p-h1 {
    color: var(--special-white);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }

//GRID

.container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 15px;
    padding: 20px;
    margin: 20px;
  }
  
  /* Style the cards */
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 350px;
  }

@media only screen and (max-width: 915px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
}

@media only screen and (max-width: 300px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
}