@import 'vars';

.portada-main {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    z-index: 10;
}

.portada-title {
    font-size: 60px;
    color: var(--special-white);
}

.portada-h2 {
    font-size: 38px;
    background-color: var(--special-white);
    margin: 0 auto;
    color: var(--blue-secondary);
    margin-top: -5px;
    max-width: 470px;
    padding: 0 5px;
    
}

.portada-p {
    margin-top: 30px;
    font-size: var(--lg);
    color: var(--special-white);
    font-weight: 600;
}

.portada-link {
    transition: 0s;
}

.portada-btn {
    background: none;
    border: none;
    background: rgb(16,106,161);
background: -moz-linear-gradient(0deg, rgba(16,106,161,1) 25%, rgba(26,130,193,1) 87%);
background: -webkit-linear-gradient(0deg, rgba(16,106,161,1) 25%, rgba(26,130,193,1) 87%);
background: linear-gradient(0deg, rgba(16,106,161,1) 25%, rgba(26,130,193,1) 87%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#106aa1",endColorstr="#1a82c1",GradientType=1);
    margin: 0 auto;
    margin-top: 32px;
    width: 150px;
    height: 50px;
    color: var(--special-white);
    cursor: pointer;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    box-shadow: 0px 1px 7px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 7px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 7px -3px rgba(0,0,0,0.75);
}

.btn-span-portada {
    text-align: center;
    font-size: var(--lg);
}

.portada-btn:hover {
    letter-spacing: 1px;
}

@media only screen and (max-width: 1000px) {
    .portada-main {
        padding: 0 15px;
        padding-top: 40px;
    }
    .portada-title {
        font-size: 45px;
    }
    .portada-h2 {
        font-size: 28px;
    }
    .portada-p {
        margin-top: 30px;
        font-size: var(--md);
    }
}

@media only screen and (max-width: 400px) {
    .portada-main {
        padding: 0 20px;
        padding-top: 50px;
    }
    .portada-title {
        font-size: 35px;
    }
    .portada-h2 {
        font-size: 18px;
    }
    .portada-p {
        margin-top: 30px;
    }
    .portada-btn {
        margin-top: 22px;
        width: 110px;
        height: 40px;
    }
    .btn-span-portada {
        text-align: center;
        font-size: var(--sm);
    }
}