@import "vars";

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 350px;
  height: auto;
  margin: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.image-item {
  cursor: pointer;
  transition: .3s;
  max-width: auto;
  padding: 0 10px;
}

.image-item:hover {
  transform: scale(1.05);
  rotate: 3deg;
}

.item-h1 {
  margin-top: 20px;
  color: var(--special-white);
  background: -moz-linear-gradient(329deg, rgba(74,180,223,1) 14%, rgb(53, 127, 224) 90%);
background: -webkit-linear-gradient(329deg, rgba(74,180,223,1) 14%, rgb(53, 127, 224) 90%);
background: linear-gradient(329deg, rgba(74,180,223,1) 14%, rgb(53, 127, 224) 90%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4ab4df",endColorstr="#ecf9f5",GradientType=1);
  margin-bottom: 8px;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: var(--lg);
}

.item-text {
  font-size: var(--md);
  color: var(--black);
  font-weight: 600;
}

@media only screen and (max-width: 915px) {
  .card-item {
    margin: 0;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 695px) {
  .card-item {
    margin-bottom: 20%;
  }
}

