@import "vars";

.resume-main-div {
    width: calc(100% - 90px);
    margin-left: 90px;
    min-height: 100vh;
    background-image: linear-gradient(rgba(115, 115, 115, 0.06) 1px, transparent 1px), linear-gradient(to right, rgba(115, 115, 115, 0.06) 1px, transparent 1px);
background-size: 31px 31px;
background-color: #212121;
}

.main-circles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1150px;
    margin: auto;
    margin-top: 70px;
}

.main-progress-container {
    display: flex;
    margin-top: 55px;
    justify-content: center;
    gap: 40px;
}

.main-progress-bar {
    margin-top: 15px;
}

.progress-bar {
    width: min(600px, 800px);
}

@media only screen and (max-width: 1023px) {
    .resume-main-div {
        width: 100%;
        margin-left: 0;
    }
}   

@media only screen and (max-width: 1122px) {
    .main-circles {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
}   
