@import 'vars';

.services-main {
    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.services-slider {
    width: 100%;
    margin: auto;
    padding: 0 10px;
}

.btn-option-div {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--blue-tres);
    opacity: .3;
    transition: .3s;
}

.btn-option-div:hover {
    opacity: 1;
    transform: scale(1.1);
}

.btn-option {
    width: 75px;
    height: 75px;
}

.btn-learn-more {
    border: none;
    background: none;
    border: 1px solid var(--blue-secondary);
    padding: 15px 30px;
    border-radius: 30px;
    margin-top: 25px;
    font-size: var(--lg);
    color: var(--blue-secondary);
    cursor: pointer;
    margin-bottom: 100px;
    text-align: center;
    transition: .2s;
}

.btn-learn-more:hover {
    color: var(--white);
    background-color: var(--blue-secondary);
}

@media only screen and (max-width: 1553px) {
    .services-main {
        width: 80%;
    }
}

@media only screen and (max-width: 750px) {
    .btn-option {
    width: 55px;
    height: 55px;
}
}

@media only screen and (max-width: 550px) {
    .services-slider {
        padding: 0;
        padding-right: 10px;
    }
    .btn-option {
        width: 35px;
        height: 35px;
    }
}

@media only screen and (max-width: 345px) {
    .services-slider {
        padding: 0;
        padding-right: 10px;
    }
    .btn-option {
        width: 30px;
        height: 30px;
    }
}
