@import 'vars';

.services-main {
    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-slider {
    width: 100%;
    margin: auto;
    padding: 0 20px;
}


@media only screen and (max-width: 1553px) {
    .services-main {
        width: 80%;
    }
}

// @media only screen and (max-width: 1024px) {
//     .services-main {
//         width: 80%;
//     }
// }