@import 'vars';

.services-main {
    width: calc(100% - 90px);
    margin-left: 90px;
    min-height: 100vh;
    background-image: linear-gradient(#42413e 1px, transparent 1px), linear-gradient(to right, #42413e 1px, transparent 1px);
background-size: 77px 77px;
background-color: #393939;
}

.about-me-main {
    width: 100%;
    height: auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.about-img {
    width: 350px;
    box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.75);
    border-radius: 10px;
    animation: aparicion 1s ease .2s 1 normal forwards;
    opacity: 0;
}

.about-info {
    animation: aparicion 1s ease .4s 1 normal forwards;
    opacity: 0;
}

.h1-about {
    color: var(--white);
    font-size: 35px;
}

.span-about {
    color: var(--high-yellow);
}

.ul-about {
    list-style: none;
    font-size: 22px;
    color: lightgray;
    margin-top: 20px;
    margin-left: 22px;
}

.ul-about li {
    margin-bottom: 8px;
}

.ul-about li::before {
    content: "\2022";
    color: var(--high-yellow);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.btn-about {
    text-align: left;
    border: none;
    background: none;
    margin-top: 30px;
    color: var(--black);
    background-color: var(--high-yellow);
    padding: 12px 22px;
    border-radius: 5px;
    font-weight: 600;
    font-size: var(--md);
    cursor: pointer;
    transition: .3s;
}

.btn-about:hover {
    background-color: var(--white);
}

.services-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1350px;
    margin: auto;
    margin-top: 80px;
    padding-bottom: 80px;
    transition: .5s;
    opacity: 0;
}

.services-visible {
    animation: aparicion 1s ease .2s 1 normal forwards;
}

.services-icon-div {
    background-color: var(--light-yellow);
    padding: 20px;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.services-icon {
    width: 40px;
    height: 40px;
    color: var(--black);
}

@media only screen and (max-width: 1023px) {
    .services-main {
        width: 100%;
        margin-left: 0;
    }
    .about-me-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services-items {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-top: 50px;
        padding-bottom: 50px;
    }
    .services-icon-div {
        padding: 15px;
        border-radius: 50%;
        margin: 15px;
    }
    .services-icon {
        width: 30px;
        height: 30px;
    }
  }

@media only screen and (max-width: 930px) {
    .about-me-main {
        padding: 0 30px;
        margin-top: 50px;
    }
    .about-img {
        width: 250px;
    }
    .h1-about {
        font-size: 25px;
    }
    .ul-about li {
        font-size: var(--md);
    }
    .btn-about {
        margin-top: 20px;
        padding: 12px 18px;
        font-size: var(--sm);
        text-align: center;
    }
  }

  @keyframes aparicion {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

// .services-slider {
//     width: 100%;
//     margin: auto;
//     padding: 0 10px;
// }

// .btn-option-div {
//     border: none;
//     background: none;
//     cursor: pointer;
//     color: var(--blue-tres);
//     opacity: .3;
//     transition: .3s;
// }

// .btn-option-div:hover {
//     opacity: 1;
//     transform: scale(1.1);
// }

// .btn-option {
//     width: 75px;
//     height: 75px;
// }

// @media only screen and (max-width: 1553px) {
//     .services-main {
//         width: 80%;
//     }
// }

// @media only screen and (max-width: 750px) {
//     .btn-option {
//     width: 55px;
//     height: 55px;
// }
// }

// @media only screen and (max-width: 550px) {
//     .services-slider {
//         padding: 0;
//         padding-right: 10px;
//     }
//     .btn-option {
//         width: 35px;
//         height: 35px;
//     }
// }

// @media only screen and (max-width: 345px) {
//     .services-slider {
//         padding: 0;
//         padding-right: 10px;
//     }
//     .btn-option {
//         width: 30px;
//         height: 30px;
//     }
// }

