@import 'vars';

.title-main {
    text-align: center;
    overflow: hidden;
    padding-top: 80px;
}

.title-back {
    color: var(--high-blue);
    opacity: .1;
    z-index: 5;
    font-size: 120px;
    margin-bottom: -110px;
}

.title-front {
    z-index: 10;
    color: var(--white);
    font-size: 38px;
    padding: 10px 0;
}

.sun {
    background-color: var(--high-blue); 
    border-radius: 50%;
    height: 10px;
    aspect-ratio: 1 / 1;
    margin: auto;
    animation: 2s linear 0s infinite
        alternate bounce;
  }
  
  @keyframes bounce {
    from {
      transform: translateX(-70px);
    }
    to {
      transform: translateX(70px);
    }
  }

  @media only screen and (max-width: 940px) {
    .title-back {
        margin-bottom: -85px;
        font-size: 90px;
    }
    
    .title-front {
        font-size: 30px;
        padding: 10px 0;
    }
    
  }
  
  @media only screen and (max-width: 500px) {
    .title-back {
        margin-bottom: -80px;
        font-size: 80px;
        
    }
    
    .title-front {
        font-size: 30px;
        padding: 10px 0;
    }
    
  }